
  body {
    height: 100%
  }

  .thumbsBox {
    width: 50%;
    height: 50%;
    font-size: 200px;
  }

  .pTop {
    position: absolute;
    top: 0px;
    border: 5px solid black;
  }

  .pBot {
    position: absolute;
    bottom: 0px;
    border: 5px solid black;
  }

  .pLeft {
    position: absolute;
    left: 0px;
  }

  .pRight {
    position: absolute;
    right: 0px;
  }

  #tUp {
    background-color: #99ff99
  }

  #tDown {
    background-color: #ffbbbb
  }

  #tWiggle {
    background-color: #bbffff
  }

  #tOops {
    background-color: #ffffbb
  }

  #tUp:hover {
    background-color: #bfbfbf;
  }

  #tDown:hover {
    background-color: #bfbfbf
  }

  #tWiggle:hover {
    background-color: #bfbfbf
  }

  #tOops:hover {
    background-color: #bfbfbf
  }

  div {
    text-align: center;
  }



    div #headerBox {
      color: magenta;
      font-size: 300px;
      margin: 50px
    }

    p {
      color: white;
      font-size: 150px
    }

    h2 {
      color: Aquamarine;
      font-size: 50px
    }

    * {
      font-family: comic sans ms;
    }

    #headerBox {
      border: 20px dashed;
      margin: 50px
    }

    .paraBox {
      border: 45px solid Aquamarine;
      margin: 50px;
      background: yellow
    }

    body {
      border: 25px dotted black
    }

    a:link {
      color: olive;
    }

    a:visited {
      color: olive;
    }

    a:hover {
      color: olive;
    }

    a:active {
      color: olive;
    }

    div {
      border: 15px dotted #00ffff;
    }

    #navBox {
      Display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      background-color: #fd9983
    }

    .links {
      display: inline
    }
    .links {
      font-size: 100px
    }
